name: Helm Validator

on:
    pull_request:
        branches:
            - main

jobs:
    helm-validation:
        name: verify Helm format and lint
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Install Helm
              uses: azure/setup-helm@v4
              with:
                  version: v4.0.0

            - name: Helm Lint
              run: |
                  cd infrastructure/helm/
                  helm lint .
